/Animation
/Audio
/Pixel Adventure 1
/Prefab
/Prefabs
/Scenes
/Sprites
Animation.meta
Audio.meta
Ground.physicsMaterial2D
Ground.physicsMaterial2D.meta
New Palette.prefab
New Palette.prefab.meta
Pixel Adventure 1.meta
Prefab.meta
Prefabs.meta
Scenes.meta
Scripts.meta
Some.physicsMaterial2D
Some.physicsMaterial2D.meta
Sprites.meta
/Scripts/Libraries